%a{:href => "/actors/A"}A
%a{:href => "/actors/B"}B
%a{:href => "/actors/C"}C
%a{:href => "/actors/D"}D
%a{:href => "/actors/E"}E
%a{:href => "/actors/F"}G
%a{:href => "/actors/H"}H
%a{:href => "/actors/I"}I
%a{:href => "/actors/J"}J
%a{:href => "/actors/K"}K
%a{:href => "/actors/L"}L
%a{:href => "/actors/M"}M
%a{:href => "/actors/N"}N
%a{:href => "/actors/O"}O
%a{:href => "/actors/P"}P
%a{:href => "/actors/Q"}Q
%a{:href => "/actors/R"}R
%a{:href => "/actors/S"}S
%a{:href => "/actors/T"}T
%a{:href => "/actors/U"}U
%a{:href => "/actors/V"}V
%a{:href => "/actors/W"}W
%a{:href => "/actors/X"}X
%a{:href => "/actors/Y"}Y
%a{:href => "/actors/Z"}Z

