%h1 Add Actor
%form{:method => "POST", :action => "/addActor"}
	%table{:align => "center"}
		= text_input("Name", "name")
		= text_input("Age", "age")
	%p	
		%input{:type => "submit", :value => "Add Actor"}