<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
<link rel="stylesheet" type="text/css" href="/default.css"/>
<title>The Movie Database</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js">
</script>
<script type="text/javascript">
$(function()
{
$('.toggle_box').click(function()
{
key = this.id;
key = key.slice(1)
$('#'+key).slideToggle("slow");
return false;
});
});
</script>
</head>
<body>
<div class="main">
<div class="container">
<div class="gfx"><a href="/"><span></span></a></div>
<div class="menu">
<a href="/movies/title"><span>Movies</span></a>
<a href="/actors"><span>Actors</span></a>
<a href="/directors"><span>Directors</span></a>		
<a id="last"><span><form action='/search' method='POST' style='text-align: center; margin-top: -22px;'>
Search
<input name='searchTerm' size='8' type='text' />
</form></span></a>
</div>
.content
	=yield
<div class="footer">&copy; 2009 <a href="http://blog.samwarmuth.com">SamWarmuth.com</a>. Design by <a href="http://arcsin.se">Arcsin</a></div>
</div>	
</div>
</body>
</html>