-movies = Movie.all
-load_limit = 0
%br
-movies.each do |movie|
	-break if load_limit > 10
	- poster = ''
	-if $Poster_urls[movie.title].nil?
		-load_limit += 1
		-result = YAML.load(open(URI.escape("http://api.themoviedb.org/2.1/Movie.search/en/yaml/"+$API_KEY+'/'+movie.title)).read)[0]
		-if result.is_a? Hash
			-result['posters'].each do |image|
				-poster = image['image']['url'] if image['image']['size'] == "cover"
		-$Poster_urls[movie.title]=poster unless poster == ''
	-else
		- poster = $Poster_urls[movie.title]
	%img{:src => poster}