- params[:key]="title" if params[:key].nil?
- movies = Movie.all(:order =>[params[:key].to_sym.asc])
-load_limit = 1
%h1
	Movies
	(#{movies.count})
%p
	%a{:href => "/movies/"+params[:key]}List View
	| Poster View
Sort by 
= params[:key] == "title" ? "Title" : "<a href='/posterview/title'>Title</a>"
|
= params[:key] == "release_year" ? "Year Released" : "<a href='/posterview/release_year'>Year Released</a>"
|
= params[:key] == "length" ? "Length" : "<a href='/posterview/length'>Length</a>"
%br
%br
-movies.each do |movie|
	- poster = ''
	-if $poster_urls[movie.title].nil?
		-next if load_limit > 15
		-load_limit += 1
		-result = YAML.load(open(URI.escape("http://api.themoviedb.org/2.1/Movie.search/en/yaml/"+$API_KEY+'/'+movie.title)).read)[0]
		-if result.is_a? Hash
			-result['posters'].each do |image|
				-poster = image['image']['url'] if image['image']['size'] == "cover"
		-$poster_urls[movie.title]=poster
	-else
		- poster = $poster_urls[movie.title]
	-unless poster == ''
		%a{:href => "/movie/"+movie.title}
			%img{:src => poster}
-if load_limit >15
	%br
	Poster Collection Incomplete. 15 Posters added every time this page is loaded.